//navbar
.navbar-default {
  border-color: rgba(34,34,34,.05);
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #f05f40!important;
  background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

@media(min-width:768px) {
  .navbar-default {
    border-color: rgba(255,255,255,.3);
    background-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255,255,255,.7);
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: rgba(255,255,255,.7);
  }

  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #fff;
  }

  .navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #f05f40;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #222;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #f05f40;
  }
}

//header
/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

#home {
  background: url(../images/cover.jpg);
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.home-overlay {
  background-color: rgba(44, 62, 80, 0.3);
  background-image: url("../images/pattern.png");
  background-repeat: repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  padding: 0 15px;
}

.intro h1{
  font-weight: 800;
}

.start {
  font-family: Raleway, "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  margin: 15px 0;
}
.pfblock {
  padding: 120px 0 100px;
}

.pfblock-gray {
  background: #f5f5f5;
}

.pfblock-image {
  padding: 0;
}

.calltoaction h1,
.calltoaction h2,
.calltoaction h3,
.calltoaction h4,
.calltoaction h5,
.calltoaction h6,
.pfblock-image,
.pfblock-image h1,
.pfblock-image h2,
.pfblock-image h3,
.pfblock-image h4,
.pfblock-image h5,
.pfblock-image h6 {
  color: #fff;
}

.pfblock-header {
  text-align: center;
  margin: 0 0 60px;
}

.pfblock-header-left {
  text-align: left;
}

.pfblock-header-left .pfblock-line {
  width: inherit;
  margin: 30px 0;
}

.pfblock-title{
  font-weight: 800;
}

.pfblock-subtitle {
  font-family: Raleway, "Times New Roman", Times, sans-serif;
  font-style: normal;
  font-size: 18px;
}

.pfblock-line {
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
  margin: 30px auto;
}

.pfblock-icon {
  font-size: 32px;
}